<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.p2p.bussniss.mapper.BidRequestAuditHistoryMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.p2p.bussniss.domain.BidRequestAuditHistory">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="auditTime" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="applyTime" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="bidRequestId" jdbcType="BIGINT" property="bidRequestId" />
    <result column="auditType" jdbcType="TINYINT" property="auditType" />
    <association property="auditor" column="auditor_id" select="cn.wolfcode.p2p.base.mapper.LoginInfoMapper.selectByPrimaryKey">
    </association>
    <association property="applier" column="applier_id" select="cn.wolfcode.p2p.base.mapper.LoginInfoMapper.selectByPrimaryKey">
    </association>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from bidrequestaudithistory
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.wolfcode.p2p.bussniss.domain.BidRequestAuditHistory" useGeneratedKeys="true">
    insert into bidrequestaudithistory (state, remark, auditTime, 
      applyTime, auditor_id, applier_id, 
      bidRequestId, auditType)
    values (#{state,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}, #{auditTime,jdbcType=TIMESTAMP}, 
      #{applyTime,jdbcType=TIMESTAMP}, #{auditor.id,jdbcType=BIGINT}, #{applier.id,jdbcType=BIGINT}, 
      #{bidRequestId,jdbcType=BIGINT}, #{auditType,jdbcType=TINYINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.wolfcode.p2p.bussniss.domain.BidRequestAuditHistory">
    update bidrequestaudithistory
    set state = #{state,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR},
      auditTime = #{auditTime,jdbcType=TIMESTAMP},
      applyTime = #{applyTime,jdbcType=TIMESTAMP},
      auditor_id = #{auditor.id,jdbcType=BIGINT},
      applier_id = #{applier.id,jdbcType=BIGINT},
      bidRequestId = #{bidRequestId,jdbcType=BIGINT},
      auditType = #{auditType,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, state, remark, auditTime, applyTime, auditor_id, applier_id, bidRequestId, 
    auditType
    from bidrequestaudithistory
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, state, remark, auditTime, applyTime, auditor_id, applier_id, bidRequestId, 
    auditType
    from bidrequestaudithistory
  </select>
  <select id="query" resultMap="BaseResultMap">
    select id, state, remark, auditTime, applyTime, auditor_id, applier_id, bidRequestId,
           auditType
    from bidrequestaudithistory
  </select>
    <select id="queryListByBidRequestId" resultMap="BaseResultMap">
      select id, state, remark, auditTime, applyTime, auditor_id, applier_id, bidRequestId,
             auditType
      from bidrequestaudithistory
      where bidRequestId = #{bidRequestId}
    </select>
</mapper>