<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.p2p.bussniss.mapper.ExpAccountGrantRecordMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.p2p.bussniss.domain.ExpAccountGrantRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="grantUserId" jdbcType="BIGINT" property="grantUserId" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="grantDate" jdbcType="TIMESTAMP" property="grantDate" />
    <result column="returnDate" jdbcType="TIMESTAMP" property="returnDate" />
    <result column="grantType" jdbcType="TINYINT" property="grantType" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="state" jdbcType="TINYINT" property="state" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from expAccountGrantRecord
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.wolfcode.p2p.bussniss.domain.ExpAccountGrantRecord" useGeneratedKeys="true">
    insert into expAccountGrantRecord (grantUserId, amount, grantDate, 
      returnDate, grantType, note, 
      state)
    values (#{grantUserId,jdbcType=BIGINT}, #{amount,jdbcType=DECIMAL}, #{grantDate,jdbcType=TIMESTAMP}, 
      #{returnDate,jdbcType=TIMESTAMP}, #{grantType,jdbcType=TINYINT}, #{note,jdbcType=VARCHAR}, 
      #{state,jdbcType=TINYINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.wolfcode.p2p.bussniss.domain.ExpAccountGrantRecord">
    update expAccountGrantRecord
    set grantUserId = #{grantUserId,jdbcType=BIGINT},
      amount = #{amount,jdbcType=DECIMAL},
      grantDate = #{grantDate,jdbcType=TIMESTAMP},
      returnDate = #{returnDate,jdbcType=TIMESTAMP},
      grantType = #{grantType,jdbcType=TINYINT},
      note = #{note,jdbcType=VARCHAR},
      state = #{state,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, grantUserId, amount, grantDate, returnDate, grantType, note, state
    from expAccountGrantRecord
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, grantUserId, amount, grantDate, returnDate, grantType, note, state
    from expAccountGrantRecord
  </select>
</mapper>