<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.p2p.bussniss.mapper.SystemAccountMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.p2p.bussniss.domain.SystemAccount">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="usableAmount" jdbcType="DECIMAL" property="usableAmount" />
    <result column="freezedAmount" jdbcType="DECIMAL" property="freezedAmount" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from systemaccount
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.wolfcode.p2p.bussniss.domain.SystemAccount" useGeneratedKeys="true">
    insert into systemaccount (version, usableAmount, freezedAmount
      )
    values (#{version,jdbcType=INTEGER}, #{usableAmount,jdbcType=DECIMAL}, #{freezedAmount,jdbcType=DECIMAL}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.wolfcode.p2p.bussniss.domain.SystemAccount">
    update systemaccount
    set version = #{version,jdbcType=INTEGER},
      usableAmount = #{usableAmount,jdbcType=DECIMAL},
      freezedAmount = #{freezedAmount,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, version, usableAmount, freezedAmount
    from systemaccount
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, version, usableAmount, freezedAmount
    from systemaccount
  </select>
  <select id="existAccount" resultType="java.lang.Integer">
    select count(*) from systemaccount
  </select>
</mapper>