<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.crm.mapper.PermissionMapper">
    <resultMap id="BaseResultMap" type="cn.wolfcode.crm.domain.Permission">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="expression" property="expression"/>
    </resultMap>
    <delete id="deleteByPrimaryKey">
        delete
        from permission
        where id = #{id}
    </delete>
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into permission (name, expression)
        values (#{name}, #{expression})
    </insert>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, name, expression
        from permission
    </select>
    <select id="selectForList" resultType="cn.wolfcode.crm.domain.Permission">
        select id, name, expression
        from permission
    </select>
    <select id="selectForCount" resultType="int">
        select count(id)
        from permission
    </select>
    <select id="selectAllExpressions" resultType="java.lang.String">
        select expression from permission
    </select>
    <select id="selectByRoleId" resultType="Permission">
        select p.id,p.name,p.expression from permission p
        left join
            role_permission rp
        on
            p.id = rp.permission_id
        where
            role_id = #{roleId}
    </select>
    <select id="selectExpressionByEmpId" resultType="java.lang.String">
        SELECT
            p.expression
        FROM
            permission p
                LEFT JOIN role_permission rp ON p.id = rp.permission_id
                LEFT JOIN employee_role er ON rp.role_id = er.role_id
        WHERE
            er.employee_id = #{empId}
    </select>
</mapper>