<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.crud.mapper.DepartmentMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.crud.domain.Department">
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="sn" property="sn" />
  </resultMap>
  <delete id="deleteByPrimaryKey">
    delete from department
    where id = #{id}
  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into department (name, sn)
    values (#{name}, #{sn})
  </insert>
  <update id="updateByPrimaryKey">
    update department
    set name = #{name},
      sn = #{sn}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select id, name, sn
    from department
    where id = #{id}
  </select>
  <select id="selectAll" resultType="cn.wolfcode.crud.domain.Department">
    select id, name, sn
    from department
  </select>

  <select id="selectForCount" resultType="_int" parameterType="cn.wolfcode.crud.query.QueryObject">
    select count(0) from department
  </select>
  <select id="selectForList" resultType="cn.wolfcode.crud.domain.Department"
          parameterType="cn.wolfcode.crud.query.QueryObject">
    select id, name, sn from department
  </select>
  <!--limit #{start},#{pageSize}-->

</mapper>